<h3>Count: {{props.count}}</h3>
<button onclick={{action "increment"}}>Increment</button>
<h3>Nested Count: {{props.nested.count}}</h3>
<button onclick={{action "incrementNested"}}>Increment Nested</button>
<pre>
  {{props}}
</pre>