<h3>Count: {{count}}</h3>
<h3>Count: {{countDep}}</h3>
<h3>Expensive to compute count: {{expensiveCount}}</h3>
<button onclick={{action "increment"}}>Increment</button>
<button onclick={{action "incrementDep"}}>Increment Expensive Count Dependency</button>